:root {
    --black: rgb(18,18,18);
    --white: rgb(245,245,245);
    --grey: rgb(200, 200, 200);
    --color: rgb(0, 195, 255);
}
*,
*::before,
*:after{
    box-sizing: border-box;
}
html,ul{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Sarabun', sans-serif;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1328px;
}
/* Styling */
.wrapper {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 2rem;
    height: 75px;
}
nav li {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    margin: 0 0.7rem;
    font-size: clamp(1.5rem, 0.86rem + 0.96vw, 1.7rem);   letter-spacing: 2px;
}
.icons{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 186px;
    min-width: 100px;
}
.icons a {
    height: 30px;
    width: 30px;
    margin: 0 8px;
}
nav img{
    height: 30px;
    width: 30px;
    
}
nav p{
    font-size: clamp(1.5rem, 0.86rem + 0.96vw, 1.7rem);
    font-weight: 100;
}
nav a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}
.heading-strong {
    font-weight: 500;
    letter-spacing: 2px;
    transition: ease-in-out 300ms;
}
.hero-image {
    /* position: fixed; */
    margin-top: -75px;
    max-width: 100%;
    max-height: 100vh;
    /* box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.2); */
}
/* HOVER Menu effect */
li:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: scaleX(0);
}
li:hover::after{
    opacity: 1;
    transform: scaleX(1);
    transform-origin: center;
}

nav p:hover span{
    color: var(--color);
}

/* Layout - gallery */
.gallery {
    height: auto;
    width: auto;
}
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
}
/* Create four equal columns that sits next to each other */

.column img {
    vertical-align: middle;
    max-width: 100%;
    transition: ease-in 250ms;
    cursor:pointer;
    padding-bottom: 8px;
    overflow: hidden;
    opacity: 0.75;
}
.column img:hover{
    opacity: 1;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}