:root {
    --black: rgb(18,18,18);
    --white: rgb(245,245,245);
    --grey: rgb(200, 200, 200);
    --color: rgb(0, 195, 255);
    --color-opa: rgba(0, 195, 255, 0.750);
    --background: transparent;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}
html{
    scroll-behavior: smooth;
    background: var(--white);}
body{
    font-family: 'Sarabun', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Styling */

nav {
--text-inverse: rgb(18, 18, 18);
--text: rgb(245, 245, 245);
--background: transparent;

    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--background);
    padding: 0 2rem;
    height: 75px;
    transition: ease-in-out 200ms;
    border-bottom: 2px solid transparent;
}
nav li {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    margin: 0 0.7rem;
    font-size: clamp(1.5rem, 0.86rem + 0.96vw, 3rem);
    letter-spacing: 2px;
}
nav a {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}
nav p{
    font-size: clamp(2rem, 0.86rem + 0.96vw, 3rem);
    font-weight: 100;
}
.nav-scrolled{
    --text: rgb(18, 18, 18);
    --text-inverse: rgb(245,245,245);
    --background: rgb(245,245,245);
    transition: ease-in-out 200ms;
    border-bottom: 1px solid var(--color-opa);
}
.icons{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 210px;
    min-width: 100px;
}
.icons a svg{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    transition: ease-in-out 200ms;
}
.icons a:first-child{
    scale: 1.14;
    margin-top: -2px;
}
.icon-white {
    fill: #f5f5f5;
}
.icon-black {
    fill: #181818;
}

.heading-strong {
    font-weight: 500;
    letter-spacing: 2px;
    transition: ease-in-out 200ms;
}
.hero-image {
    margin-top: -75px;
    max-width: 100%;
    /* max-height: 100vh; */
}
/* HOVER Menu effect */
li:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: scaleX(0);
}
li:hover::after{
    opacity: 1;
    transform: scaleX(1);
    transform-origin: center;
}
li:active::after {
        opacity: 1;
}
nav p:hover .heading-strong{
    color: var(--color);
}
.wrapper {
    max-width: 1328px;
    margin-left: auto;
    margin-right: auto;
}
/* BIO - section */
.bio {
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 75px;
    margin-top: -75px;
    display: grid;
    /* grid-template-columns: 4fr 2fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 200px repeat(3, 1fr);
}
.bio-heading{
    grid-column:  2;
    grid-row: 2;
    justify-self: start;
    align-self: flex-start;
}
.bio h1 {
    font-size: 4rem;
    line-height: 4rem;
    color: var(--black);
    margin-right: 30px;
    align-self: center;
    text-transform: uppercase;
    position: relative;
}
.bio-heading h1:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 50%;
    top: -20px;
    right: -50px;
    background-color: var(--color);
}
.bio-heading p:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 40%;
    rotate: 90deg;
    top: -90px;
    right: -80px;
    background-color: var(--color);
}
.bio-heading p {
    position: relative;
    font-size: 2.5rem;
    font-weight: 200;
    color: var(--grey);
    padding: 0;
    line-height: 2.5rem;
}

.bio img{
    grid-column: 1;
    grid-row: 2 / 4;
    max-height: 650px;
    align-self: end;
    padding-left: 16px;
}
.bio article {
    grid-row: 3;
}
.bio-article {
    font-size: 1.4rem;
    max-width: 50ch;
    background-color: transparent;
    padding: 16px 0px;
}
.article-heading{
    font-weight: 700;
    font-size: 2.2rem;
    padding: 16px 0 0 32px;
}

/* Layout - gallery */
.gallery {
    height: auto;
    width: 100%;
}
.gallery h2 {
    position: relative;
    padding-top: 75px;
    margin-top: -75px;
}
.gallery-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    column-gap: 8px;
    row-gap: 8px;
    padding: 8px 16px;
    background-color: var(--black);
}
.gallery-block:hover img{
    opacity: 0.8;
}
/* photos in grid */
.gallery-block img{
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.gallery-block img:nth-child(1){
    grid-column: 1;
    grid-row: 1;
}
.gallery-block img:nth-child(2){
    grid-column: 1;
    grid-row: 2/span 3;
}
.gallery-block img:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}
.gallery-block img:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
}
.gallery-block img:nth-child(5) {
    grid-column: 1;
    grid-row: 5/ span 6;
}
.gallery-block img:nth-child(6){
    grid-column: 2;
    grid-row: 2;
    align-self: end;
}
.gallery-block img:nth-child(7){
    grid-column: 2;
    grid-row: 1 / span 2;
}
.gallery-block img:nth-child(8){
    grid-column: 2;
    grid-row: 3;
}
.gallery-block img:nth-child(9){
    grid-column: 2;
    grid-row: 4 / span 5;
}
.gallery-block img:nth-child(10){
    grid-column: 2;
    grid-row: 5;
    align-self: end;
}
.gallery-block img:nth-child(11){
    grid-column: 3;
    grid-row: 1;
}
.gallery-block img:nth-child(12){
    grid-column: 3;
    grid-row: 2/3;
}
.gallery-block img:nth-child(13){
    grid-column: 3;
    grid-row: 3;
}
.gallery-block img:nth-child(14){
    grid-column: 3;
    grid-row: 4;
}

/* end of imported css grid */
.gallery-block img {
    vertical-align: middle;
    max-width: 100%;
    transition: ease-in-out 250ms;
    cursor:pointer;
    /* padding-bottom: 8px; */
}
.gallery-block img:hover{
    opacity: 1;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 768px) {
    .gallery-block {
        grid-template-columns: repeat(2, 50%);
        column-gap: 8px;
        padding: 0 8px;
    }

.gallery-block img:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.gallery-block img:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}
.gallery-block img:nth-child(7) {
    grid-column: 2;
    grid-row: 2;
}
.gallery-block img:nth-child(3) {
    grid-column: 1/ span 2;
    grid-row: 9;
}
.gallery-block img:nth-child(13) {
    grid-column: 1/ span 2;
    grid-row: 3;
}
.gallery-block img:nth-child(8) {
    grid-column: 1/ span 2;
    grid-row: 4;
    align-self: end;
}
.gallery-block img:nth-child(9) {
    grid-column: 2;
    grid-row: 5;
}
.gallery-block img:nth-child(12) {
    grid-column: 1;
    grid-row: 5;
}
.gallery-block img:nth-child(5) {
    grid-column: 1;
    grid-row: 10;
}
.gallery-block img:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 6;
}
.gallery-block img:nth-child(14) {
    grid-column: 1/ span 2;
    grid-row: 7;
}
.gallery-block img:nth-child(6) {
    grid-column: 1/ span 2;
    grid-row: 8;
}    
.gallery-block img:nth-child(15) {
    grid-column: 2;
    grid-row: 10;
}    
.gallery-block img:nth-child(10) {
    grid-column: 1/ span 2;
    grid-row: 11;
}    
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}