:root {
    --black: rgb(18,18,18);
    --white: rgb(245,245,245);
    --grey: rgb(200, 200, 200);
    --color: rgb(0, 195, 255);
    --color-opa: rgba(0, 195, 255, 0.750);
    --background: transparent;
}
*,
*::before,
*:after{
    box-sizing: border-box;
}
html{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background: linear-gradient(90deg, rgb(200, 200, 200) 0%, rgb(195, 195, 195) 50%, rgba(183, 183, 183, 1) 100%);}
body{
    font-family: 'Sarabun', sans-serif;
    padding: 0;
    margin: 0;
    /* background-color: var(--white); */
    width: 100%;
}

/* Styling */

nav {
--text-inverse: rgb(18, 18, 18);
--text: rgb(245, 245, 245);
--background: transparent;

    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--background);
    padding: 0 2rem;
    height: 75px;
    transition: ease-in-out 200ms;
    border-bottom: 2px solid transparent;
}
nav li {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-weight: 100;
    margin: 0 0.7rem;
    font-size: clamp(1.5rem, 0.86rem + 0.96vw, 3rem);
    letter-spacing: 2px;
}
nav a {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}
nav p{
    font-size: clamp(2rem, 0.86rem + 0.96vw, 3rem);
    font-weight: 100;
}
.nav-scrolled{
    --text: rgb(18, 18, 18);
    --text-inverse: rgb(245,245,245);
    --background: rgb(245,245,245);
    transition: ease-in-out 200ms;
    border-bottom: 1px solid var(--color-opa);
}
.icons{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 210px;
    min-width: 100px;
}
.icons a svg{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    transition: ease-in-out 200ms;
}
.icons a:first-child{
    scale: 1.14;
    margin-top: -2px;
}
.icon-white {
    fill: #f5f5f5;
}
.icon-black {
    fill: #181818;
}

.heading-strong {
    font-weight: 500;
    letter-spacing: 2px;
    transition: ease-in-out 200ms;
}
.hero-image {
    margin-top: -75px;
    max-width: 100%;
    /* max-height: 100vh; */
}
/* HOVER Menu effect */
li:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: scaleX(0);
}
li:hover::after{
    opacity: 1;
    transform: scaleX(1);
    transform-origin: center;
}
li:active::after {
        opacity: 1;
}
nav p:hover .heading-strong{
    color: var(--color);
}
.wrapper {
    max-width: 1328px;
    margin-left: auto;
    margin-right: auto;
}
/* Layout - gallery */
.gallery {
    height: auto;
    width: 100%;
}
.gallery h2 {
    position: relative;
    padding-top: 75px;
    margin-top: -75px;
}
.gallery-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    column-gap: 8px;
    row-gap: 8px;
}
.gallery-block:hover img{
    opacity: 0.8;
}
/* photos in grid */
.gallery-block img:nth-child(1){
    grid-column: 1;
    grid-row: 1;
}
.gallery-block img:nth-child(2){
    grid-column: 1;
    grid-row: 2/span 3;
}
.gallery-block img:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}
.gallery-block img:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
}
.gallery-block img:nth-child(5) {
    grid-column: 1;
    grid-row: 5/ span 6;
}
.gallery-block img:nth-child(6){
    grid-column: 2;
    grid-row: 2;
    align-self: end;
}
.gallery-block img:nth-child(7){
    grid-column: 2;
    grid-row: 1 / span 2;
}
.gallery-block img:nth-child(8){
    grid-column: 2;
    grid-row: 3;
}
.gallery-block img:nth-child(9){
    grid-column: 2;
    grid-row: 4 / span 5;
}
.gallery-block img:nth-child(10){
    grid-column: 2;
    grid-row: 5;
    align-self: end;
}
.gallery-block img:nth-child(11){
    grid-column: 3;
    grid-row: 1;
}
.gallery-block img:nth-child(12){
    grid-column: 3;
    grid-row: 2/3;
}
.gallery-block img:nth-child(13){
    grid-column: 3;
    grid-row: 3;
}
.gallery-block img:nth-child(14){
    grid-column: 3;
    grid-row: 4;
}

/* end of imported css grid */
.gallery-block img {
    vertical-align: middle;
    max-width: 100%;
    transition: ease-in-out 250ms;
    cursor:pointer;
    /* padding-bottom: 8px; */
}
.gallery-block img:hover{
    opacity: 1;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 768px) {
    .gallery-block {
        grid-template-columns: repeat(2, 50%);
        column-gap: 0px;
        padding: 0 8px;
    }
.gallery-block img:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.gallery-block img:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}
.gallery-block img:nth-child(7) {
    grid-column: 2;
    grid-row: 2;
}
.gallery-block img:nth-child(3) {
    grid-column: 1/ span 2;
    grid-row: 9;
}
.gallery-block img:nth-child(13) {
    grid-column: 1/ span 2;
    grid-row: 3;
}
.gallery-block img:nth-child(8) {
    grid-column: 1/ span 2;
    grid-row: 4;
    align-self: end;
}
.gallery-block img:nth-child(9) {
    grid-column: 2;
    grid-row: 5;
}
.gallery-block img:nth-child(12) {
    grid-column: 1;
    grid-row: 5;
}
.gallery-block img:nth-child(5) {
    grid-column: 1;
    grid-row: 10;
}
.gallery-block img:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 6;
}
.gallery-block img:nth-child(14) {
    grid-column: 1/ span 2;
    grid-row: 7;
}
.gallery-block img:nth-child(6) {
    grid-column: 1/ span 2;
    grid-row: 8;
}    
.gallery-block img:nth-child(15) {
    grid-column: 2;
    grid-row: 10;
}    
.gallery-block img:nth-child(10) {
    grid-column: 1/ span 2;
    grid-row: 11;
}    
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}