:root {
    --black: rgb(18,18,18);
    --white: rgb(253, 253, 253);
    --grey: rgb(224, 221, 221);
    --color: rgb(0, 187, 244);
    --color-opa: rgba(0, 195, 255, 0.750);
    --background: transparent;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}
html{
    scroll-behavior: smooth;
    background: var(--white);
    width: 100%;
}
body{
    font-family: 'Sarabun', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Styling */
.section-margin{
    padding-top: 74px;
    margin-top: -74px;
}
nav {
--text-inverse: rgb(18, 18, 18);
--text: rgb(253, 253, 253);
--background: transparent;

    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    background-color: var(--background);
    height: 75px;
    transition: ease-in-out 200ms;
    border-bottom: 2px solid transparent;
}
nav li {
    display: inline-block;
    position: relative;
    margin: 0 8px;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
a {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}
nav p{
    font-size: 2rem;
    font-weight: 200;
}
.nav-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    grid-column: 1;
    padding-left: 2rem;
}
.nav-menu {
    display: flex;
    grid-column: 2;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}
.nav-scrolled{
    --text: rgb(18, 18, 18);
    --text-inverse: rgb(253, 253, 253);
    --background: rgb(253,
        253,
        253);
    transition: ease-in-out 200ms;
    border-bottom: 1px solid var(--color);
}
.icons{
    grid-column: 3;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.icons a svg{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    transition: ease-in-out 200ms;
}
.icons a:first-child{
    transform: scale(1.15);
    margin-top: -3px;
}
/* changing colors through scroll on nav bar */
.icon-white {
    fill: #fdfdfd;
}
.icon-black {
    fill: #181818;
}
.hamburger-scroll-change-w{
    background-color: #fdfdfd;
}
.hamburger-scroll-change-b{
    background-color: #181818;
}

.heading-strong {
    font-weight: 500;
    letter-spacing: 2px;
    transition: ease-in-out 200ms;
}
.hero {
    background-image:url("/images/01-full.jpg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}
.hero-image {
    margin-top: -75px;
    max-width: 100%;
}
/* HAMBURGER MENU */
.ham-menu {
    display: none;
}
/* HOVER Menu effect */
li:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: scaleX(0);
}
li:hover::after{
    opacity: 1;
    transform: scaleX(1);
    transform-origin: center;
}
li:active::after {
        opacity: 1;
}
nav p:hover .heading-strong{
    color: var(--color);
}
.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.underline {
    text-decoration: underline wavy 1px var(--color);
    text-underline-offset: 4px;
}
/* BIO - section */
.bio-head-grid {
    position: relative;
    height: auto;
    width: 100%;
    display: grid;
    background-color: var(--grey-bg);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 500px;
}
.bio-heading{
    position: relative;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: end;
}
.bio-head-grid h1 {
    font-size: 4rem;
    line-height: 4rem;
    color: var(--black);
    margin-right: 30px;
    align-self: center;
    text-transform: uppercase;
    position: relative;
}
.bio-heading h1:after{
    content: "";
    position: absolute;
    height: 1px;
    width: 50%;
    top: -20px;
    right: -50px;
    background-color: var(--color);
}
.bio-heading p:after{
    content: "";
    position: absolute;
    height: 1px;
    width: 40%;
    rotate: 90deg;
    top: -90px;
    right: -80px;
    background-color: var(--color);
}
.bio-heading p {
    position: relative;
    font-size: 2.5rem;
    font-weight: 200;
    color: var(--black);
    padding: 0;
    line-height: 2.5rem;
    transition: ease-in-out 200ms;
    cursor: default;
}
.bio-heading p:hover{
    color: var(--color);
}

.bio-head-grid > img{
    grid-column: 1;
    grid-row: 1 / span 2;
    max-height: 750px;
    align-self: end;
    padding-left: 4rem;
}

.bio-intro {
    font-size: 1.75rem;
    max-width: 25ch;
    background-color: transparent;
    grid-row: 2;
    font-weight: 300;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    color: var(--black);
    position: relative;
}
.bio-intro:before,
.bio-intro:after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--color);
}
.bio-intro:before{
    content: "";
    width: 40%;
    rotate: 90deg;
    left: -6.5rem;
    bottom: 40px;
}
.bio-intro:after{
    left: -3rem;
    bottom: -16px;
    width: 50%;
}
.article-heading{
    font-weight: 700;
    font-size: 2.2rem;
    padding: 16px 0 0 32px;
}
.anchor-styling{
    text-decoration: none;
    transition: ease-in-out 200ms;
    list-style: none;
    color: var(--color);
}
.anchor-styling:hover {
    color: var(--black);
    text-decoration: underline 1px var(--color);
    text-underline-offset: 4px;
}
/* bio text */
.article-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 124px  400px 150px;
    row-gap: 2rem;
    column-gap: 16px;
}
article p {
    font-size: 1.35rem;
    font-weight: 300;
    max-width: 45ch;
    /* padding: 8px 16px; */
}
article p:nth-child(1) {
    position: relative;
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    align-self: start;
}
article p:nth-child(1):before{
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--color);
    width: 20%;
    top: -0.5rem;
    left: -2.5rem;
}
article p:nth-child(1):after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--color);
    width: 20%;
    top: 1.75rem;
    left: -4.5rem;
    rotate: 90deg;
}
article p:nth-child(2) {
    position: relative;
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    align-self: end;
}
article p:nth-child(2):before{
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--color);
    width: 20%;
    bottom: 1rem;
    right: -4rem;
    rotate: 90deg;
}
article p:nth-child(2):after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--color);
    width: 20%;
    bottom: -1rem;
    right: -2rem;
}
.img-bio-side {
    position: absolute;
    max-height: 400px;
    bottom: 0px;
    right: 0px;
}
.img-bot{
    bottom: 13rem
}
/* Layout - gallery */
.gallery {
    height: auto;
    width: 100%;
    padding-top: 74px;
    margin-top: -74px;
}

.gallery h2 {
    position: relative;
    background: rgb(18, 18, 18);
    color: var(--white);
    text-align: center;
    font-size: 4rem;
    padding: 2rem 0;
    text-decoration: underline 1px var(--color-opa);
    text-underline-offset: 14px;
}

.gallery-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    column-gap: 16px;
    row-gap: 16px;
    padding: 8px 16px;
    background-color: var(--black);
}
.gallery-block:hover img{
    opacity: 0.8;
}


/* photos in grid */
.gallery-block img{
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.gallery-block a:nth-child(1){
    grid-column: 1;
    grid-row: 1;
}
.gallery-block a:nth-child(2){
    grid-column: 1;
    grid-row: 2 /span 3;
}
.gallery-block a:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}
.gallery-block a:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
}
.gallery-block a:nth-child(5) {
    grid-column: 1;
    grid-row: 5/ span 6;
}
.gallery-block a:nth-child(6){
    grid-column: 2;
    grid-row: 2;
    align-self: end;
}
.gallery-block a:nth-child(7){
    grid-column: 2;
    grid-row: 1 / span 2;
}
.gallery-block a:nth-child(8){
    grid-column: 2;
    grid-row: 3;
}
.gallery-block a:nth-child(9){
    grid-column: 2;
    grid-row: 4 / span 5;
}
.gallery-block a:nth-child(10){
    grid-column: 2;
    grid-row: 5;
    align-self: end;
}
.gallery-block a:nth-child(11){
    grid-column: 3;
    grid-row: 1;
}
.gallery-block a:nth-child(12){
    grid-column: 3;
    grid-row: 2/3;
}
.gallery-block a:nth-child(13){
    grid-column: 3;
    grid-row: 3;
}
.gallery-block a:nth-child(14){
    grid-column: 3;
    grid-row: 4;
}

.gallery-block img {
    vertical-align: middle;
    max-width: 100%;
    transition: ease-in-out 250ms;
    cursor:pointer;
}
.gallery-block img:hover{
    opacity: 1;
}
/* kontakt */
.link-hover{
    color: var(--white);
    transition: ease-in-out 200ms;
}
.link-hover:hover{
    color:var(--color-opa)
}
.kontakt-section {
background: rgb(18, 18, 18);
    background: linear-gradient(180deg, rgba(18, 18, 18, 1) 0%, rgba(99, 219, 255, 1) 49%, rgba(253, 253, 253, 1) 100%);
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.kontakt-text{
    grid-column: 2;
    grid-row: 6;
    /* padding: 3rem 0; */
    font-size: 1.5rem;
    font-weight: 300;
    max-width: 30ch;
    position: relative;
    color: var(--white);
}


.kontakt-font {
    max-width: 50ch;
    line-height: 1.7rem;
    font-size: 1.15rem;
    color: var(--white);
}
.kontakt-font h3, h4 {
    text-align: center;
    color: var(--white);
}
.kontakt-font p:last-of-type{
    padding-top: 8px;
    text-align: center;
}
.kontakt-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 50ch;
    padding: 2rem 2rem;
    background-color: rgba(18, 18, 18, 0.4);
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(253, 253, 253, 0.2);
    box-shadow: 0 0 10px 5px rgba(0, 195, 255, 0.2);
}
.kontakt-block h3{
    font-size: 3rem;
}
.kontakt-block h4{
    font-size: 2rem;
    padding: 1.75rem 0;
}
i {
    padding-right: 8px;
}
.footer-section {
    height: 50px;
    position: relative;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section p {
    font-size: 1rem;
    cursor: pointer;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 768px) {
    .section-margin {
            padding-top: 73px;
            margin-top: -73px;
        }
nav{
    height: 73px;
}
nav p {
    font-size: clamp(1.3rem, 0.8rem + 2.5vw, 2rem);
}

.nav-menu {
    display: flex;
    flex-direction: column;
    padding-top: min(8rem, 20%);
    padding-right: 0;
    position: fixed;
    justify-content: start;
    gap: 4rem;
    z-index: 101;
    inset: 0 0 0 45%;
    background-color: var(--white);
    transform: translatex(100%);
    transition: transform ease-in 200ms;
    border-left: 1px solid var(--color)
}
.nav-menu.active{
    transform: translatex(0%);
}
.nav-scrolled {
    --text: rgb(18, 18, 18);
    --text-inverse: rgb(253, 253, 253);
    --background: rgb(253,
            253,
            253);
    transition: ease-in-out 200ms;
    border-bottom: 1px solid var(--color);
}
nav li a {
    font-size: clamp(1.3rem, 0.8rem + 2.5vw, 2rem);
    color: #181818;
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: max-content;
}
nav li {
    display: flex;
    justify-content: center;
}
#svg-icon1, #svg-icon2 {
    fill:#181818;
}
/* HAMBURGER RESPONSIVE */
.ham-menu {
    display: block;
    height: 32px;
    width: 32px;
    margin-left: auto;
    position: absolute;
    z-index: 110;
    right: 2rem;
    top: 1.5rem;
    cursor: pointer;
}

.ham-menu span {
    height: 4px;
    width: 100%;
    background-color:  var(--text);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: var(--black);
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
/* Hamburger End */

/* Bio */
.bio-heading{
    grid-column: 1 / span 2;
    justify-self: center;
}
.bio-heading h1 {
    margin: 0;
}
.bio-intro{
    font-size: 1.5rem;
    align-self: start;
    justify-self: center;
    padding-top: 7rem;
    margin-left: 2rem;
}
.bio-head-grid > img {
    grid-column: 1;
    grid-row: 1 / span 2;
    max-height: 500px;
    max-width: 400px;
    align-self: end;
    padding-left: 1rem;
}
.bio-heading h1:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 50%;
    top: -10px;
    right: -40px;
    background-color: var(--color);
}
.bio-heading p:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 40%;
    rotate: 90deg;
    top: -90px;
    right: -90px;
    background-color: var(--color);
}
.bio-intro:after{
    left: -2.5rem;
    bottom: -0.7rem;
}
.bio-intro:before{
    left: -5.5rem
}
.img-bio-side{
    display: visible;
}

.article-grid{
    grid-template-columns: 1fr 7fr 1fr;
    gap: 0;
}
article p {
    font-size: 1.35rem;
    font-weight: 300;
    max-width: 45ch;
    /* padding: 8px 16px; */
}

article p:nth-child(1) {
    position: relative;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: start;
}

article p:nth-child(1):before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--color);
    width: 20%;
    top: -0.5rem;
    left: -2rem;
}

article p:nth-child(1):after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--color);
    width: 20%;
    top: 1.5rem;
    left: -4.2rem;
    rotate: 90deg;
}

article p:nth-child(2) {
    position: relative;
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    align-self: end;
}

article p:nth-child(2):before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--color);
    width: 20%;
    bottom: 1.5rem;
    right: -4rem;
    rotate: 90deg;
}

article p:nth-child(2):after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--color);
    width: 20%;
    bottom: -0.6rem;
    right: -2rem;
}
/*  */

.gallery-block {
    grid-template-columns: repeat(2, 50%);
    column-gap: 8px;
    row-gap: 8px;
    padding: 0 16px;
}

.gallery-block a:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.gallery-block a:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}
.gallery-block a:nth-child(7) {
    grid-column: 2;
    grid-row: 2;
}
.gallery-block a:nth-child(3) {
    grid-column: 1/ span 2;
    grid-row: 9;
}
.gallery-block a:nth-child(13) {
    grid-column: 1/ span 2;
    grid-row: 3;
}
.gallery-block a:nth-child(8) {
    grid-column: 1/ span 2;
    grid-row: 4;
    align-self: end;
}
.gallery-block a:nth-child(9) {
    grid-column: 2;
    grid-row: 5;
}
.gallery-block a:nth-child(12) {
    grid-column: 1;
    grid-row: 5;
}
.gallery-block a:nth-child(5) {
    grid-column: 1;
    grid-row: 10;
}
.gallery-block a:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 6;
}
.gallery-block a:nth-child(14) {
    grid-column: 1/ span 2;
    grid-row: 7;
}
.gallery-block a:nth-child(6) {
    grid-column: 1/ span 2;
    grid-row: 8;
}    
.gallery-block a:nth-child(15) {
    grid-column: 2;
    grid-row: 10;
}    
.gallery-block a:nth-child(10) {
    grid-column: 1 / span 2;
    grid-row: 11;
}    
.gallery-block a:nth-child(11) {
    grid-column: 1 / span 2;
    grid-row: 12;
}    
.gallery-block a:nth-child(14) {
    grid-column: 1 / span 2;
    grid-row: 13;
}    
}
